/* CSS Reset */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: 120px auto 120px;
    min-height: 100vh
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #eaeaea;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    justify-content: flex-end;
    align-self: normal;
    padding: 25px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
}
